
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.app{
    display: grid;
    min-height: 100lvh;
    align-items: start;
    justify-items: center;
    align-content: space-between;

    .header{
        display: flex;
        gap: 10px;
        font-size: xx-large;
        padding: 20px;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        align-content: space-around;
        justify-content: center;
        align-items: center;
    
        img{
            height:45px;
            width: 45px;
        }
    }
    .content{
        width: min(1000px,100vw);
        margin: 0 auto;
       

    }
   
}